body {
  background-image: url("../image/geo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}
h1, h2, h3, h4, h5,  p {
  color: white;
}
li{
  color: white;
}
.pet{
  text-align:center;
}
.kaphie{
  text-align: center;
  color: white;
}
